body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-image: url('afbeeldingen/achtergrond.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
  color: white;
}

.header h1 {
  font-weight: bold;
  margin: 0;
}

.centraal-gedeelte {
  display: flex;
  flex-wrap: wrap; 
}

.linkerdeel {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.rechterdeel {
  flex: 2;
  background-color: #e0e0e0;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.artikel {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row; 
  align-items: flex-start;
}

.artikel img {
  max-width: 200px; 
  height: auto;
  margin-left: 20px; 
}

.artikel-text {
  display: flex;
  flex-direction: column; 
}

.artikel h2 {
  margin-bottom: 10px; 
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}


@media screen and (max-width: 600px) {
  .centraal-gedeelte {
    flex-direction: column;
  }

  .linkerdeel, .rechterdeel {
    flex: 1;
  }
}
