/* styles.css */

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-image: url('afbeeldingen/achtergrondafbeelding.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
  color: white;
}

.header h1 {
  font-weight: 700;
  margin: 0;
}

.centraal-gedeelte {
  display: flex;
  flex-wrap: wrap; /* Laat de flex-items naar de volgende rij gaan als er niet genoeg ruimte is */
  justify-content: center; /* Centreert de flex-items horizontaal */
}

.linkerdeel {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}

.rechterdeel {
  flex: 1;
  background-color: #e0e0e0;
  padding: 20px;
  box-sizing: border-box;
}

.artikel {
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 20px;
}

.artikel img {
  max-width: 100%;
  height: auto;
}

/* Mobiele stijlen */
@media screen and (max-width: 600px) {
  .centraal-gedeelte {
    flex-direction: column; /* Stapel de linkerdeel en rechterdeel op elkaar voor kleinere schermen */
  }

  .linkerdeel, .rechterdeel {
    flex: 100%; /* Neem volledige breedte in op kleinere schermen */
  }
}
