/* styles.css */

/* Basisstijlen voor alle schermen */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-image: url('afbeeldingen/achtergrondfoto.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
  color: white;
}

.header h1 {
  font-weight: 700;
  margin: 0;
}

.artikel {
  box-sizing: border-box;
  text-align: left;
  display: flex;
}

.artikel img {
  max-width: 100px;
  height: auto;
  margin-left: 10px;
}

/* Mobiele stijlen */
@media screen and (max-width: 600px) {
  .centraal-gedeelte {
    flex-direction: column; /* Stapel de linkerdeel en rechterdeel op elkaar voor kleinere schermen */
  }

  .linkerdeel, .rechterdeel {
    flex: 1; /* Neem volledige breedte in op kleinere schermen */
  }
}
